@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Emoji';
  font-weight: 100 900;
  src: url('/fonts/NotoEmoji-VariableFont_wght.ttf');
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  h1 {
    @apply text-6xl mb-4 mt-0;
  }

  h2 {
    @apply text-4xl mb-2 mt-10;
  }

  h3 {
    @apply text-2xl mb-1 mt-8;
  }

  h4 {
    @apply text-xl mb-0 mt-5;
  }

  p {
    @apply my-2;
  }

  article {
    & ul {
      @apply list-disc pl-6;
    }

    & a {
      @apply underline cursor-pointer;
    }
  }
}
